# tmp files
tmp/
temp/

# executable directories
bin/
gen/
out/
build/
__pycache__/

# executable files
*.pyc
*.exe

# log files
*.log
/*.md

# setting files
.classpath
.project

# rep diy
/home_config/local/share/
/home_config/vim/bundles/*
